/* *Escritura de profesión */
.profession{
    border-right: 4px solid;
    width: 32ch;
    white-space: nowrap;
    animation: typing 2s steps(32), blink 0.5s infinite step-end alternate, finalAnimation 4s forwards;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0}
}
@keyframes blink {
    50% { border-color: transparent }
}
@keyframes finalAnimation {
    to {
        width: 32.5ch;
    }
}

/* *iconos de tecnologias */
.icon__tech:hover{
    scale: 1.2;
    animation: tambalear .5s forwards;
}
.icon__tech2:hover{
    scale: 1.2;
    animation: tambalear .5s forwards;
}
@keyframes tambalear {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }

    100% {
      transform: rotate(0deg); /* Mantén 20 grados */
    }
}


/* *boton dia noche */
.switch-name {
    --dark-sky: #5F27CD;
    --moon: #ffd365;
    --light-sky: #87CEEB ;
    --sun: #ffed89;
    display: block;
    position: relative;
    right: 5px;
    border-radius: 5em;
    cursor: pointer;
    width: 40px;
    height: 20px;
    overflow: hidden;
    transition: all .5s;
  }
  
  .switch-name .back {
    background-color: var(--dark-sky);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .5s ease-in-out;
  }
  
  .switch-name .checkbox {
    opacity: 0;
  }
  
  .switch-name .checkbox:checked ~ .back {
    background-color: var(--light-sky);
  }
  
  .switch-name .checkbox:checked ~ .moon {
    transform: translate(100%) rotate(180deg);
    opacity: 0;
  }
  
  .switch-name .checkbox:checked ~ .sun {
    transform: translate(100%) rotate(180deg);
    opacity: 1;
  }
  
  .switch-name .moon {
    position: absolute;
    left: .5px;
    top: -.5px;
    height: 15px;
    padding: .2em;
    fill: var(--moon);
    transition: .5s;
  }
  
  .switch-name .sun {
    position: absolute;
    left: -2px;
    top: -1px;
    height: 15px;
    padding: .2em;
    fill: var(--sun);
    transition: .5s;
    opacity: 0;
  }

  @media screen and (min-width:992px){
    .switch-name {
        width: 50px;
        height: 25px;
    }
    .switch-name .moon {
        left: 0;
        top: -1px;
        height: 20px;
        padding: .2em;
        fill: var(--moon);
    }
      
    .switch-name .sun {
        left: -3px;
        top: -1px;
        height: 20px;
        padding: .2em;
        fill: var(--sun);
    }
  }