/* Colores */
:root {
    --black: #000000;
    --dark: #222f3e;
    --bg-dark: #222831;
    --fuel: #576574;
    --text-dark: #8395a7;
    --text-grey: #c8d6e5;
    --white: #FFFFFF;
    --cyan: #00D2D3;
    --green: #1dd1a1;
    --purple: #5F27CD;
    --yellow: #feca57;
    --orange: #ff9f43;
    --amour: #ee5253; 
    --red: #ff0000;    
  }
/* Configuración general */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* transition: all 250ms; */
}
html{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    outline: 0;
    scroll-behavior: smooth;
    color: var(--white);
}
/* General enlaces */
a{
    text-decoration: none;
    color: var(--white);
}
/* General listas */
ul{
    list-style: none;
}
body{
    background-color: var(--bg-dark);
}

/* -----------------------------Estilos móvil pequeño----------------------------- */
/* -----------------header y nav----------------- */
header{
    padding: 1em .7em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    
    /* Cuando el usuario baje, que el borde aparezca*/
    /* border-bottom: 1px solid var(--black); */
}
.header__desktop{
    display: none;
}
.header__icon{
    font-size: 1.5em;
    cursor: pointer;
    transition: 500ms;
    color: var(--cyan);
}
.header__icon:hover{
    scale: 1.25;
    
}
.header__icon:active{
    color: var(--white);
    scale: .9; 
}
.header__logo{
    width: 100px;
    transition: 500ms;
}
.header__logo:active{
    scale: .9;
}

.header__movil--nav{
    background-color: var(--dark);
    padding: 1em;
    width: 120px;
    border-radius: 1.5em ;
    font-family: 'Quicksand', sans-serif;
    /* Quitado temporalemente hasta configurarlo con JS */
    display: none;
}
.header__movil--nav>ul{
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header__movil--nav>ul>li>a{
    color: var(--cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms;
}
.header__movil--nav>ul>li>a:hover{
    scale: 1.25;
}
.header__movil--nav>ul>li>a:active{
    color: var(--white);
    scale: .9; 
}
.header__movil--nav>ul>li>a>i{
    font-size: 1.25em;

}
.header__movil--nav>ul>li>a>span{
    font-size: .9em;
}
.nav__movil--cerrar{
    color: var(--cyan);
    font-size: 1.25em;
    cursor: pointer;
    transition: 500ms;
} 
.nav__movil--cerrar:hover{
    scale: 1.25;
}
.nav__movil--cerrar:active{
    color: var(--white);
    scale: .8; 
}

.desktop__nav__element{
    font-size: 1em;
    color: var(--cyan);
    display: block;
    transition: 500ms;
}
.desktop__nav__element:hover {
    color: var(--white);
}
.desktop__nav__element:active{
    scale: .9;
}



/* -----------------main----------------- */
main{
    padding: 1em;
}
.home{
    transition: all 250ms;
}
#span__cyan{
    font-family: 'Quicksand', sans-serif;
    color: var(--cyan);
    font-size: 1.1em;
}
.greeting{
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    color: var(--cyan);

}
.profession{
    font-family: 'Fira Code', monospace;
    font-size: .8em;
    font-weight: 300;
    display: inline-block;
    margin-top: .75em;
    margin-bottom: .5em;
    background-color: var(--green);
    padding: .15em .4em;
    border-radius: .2em;
}

.btn__contact{
    display: block;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    margin-top: .5em;
    color: var(--cyan);
    border: 1px solid var(--cyan);
    padding: .5em;
    background-color: rgb(0,0,0,0);
    border-radius: .25em;
    transition: 250ms;
}
.btn__contact:hover{
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--cyan);
    cursor: pointer;
}
.btn__contact:active{
    color: var(--cyan);
    border: 1px solid var(--cyan);
    background-color: var(--white);
    cursor: pointer;
    scale: .9;
}
.cnt__social--movil{
    display: flex;
        justify-content: space-evenly;
        margin-top: .5em 0em;
        border: 1px solid var(--green);
        border-radius: .5em;
        width: 150px;
}
.cnt__social--movil--icon{
    color: var(--green);
    font-size: 1.75em;
    cursor: pointer;
}
.cnt__social--movil--icon>i{
    transition: 250ms;
}
.cnt__social--movil--icon>i:hover{
    color: var(--cyan);
    scale: 1.25;
}
.cnt__social--movil--icon>i:active{
    scale: .9;
}
.cnt__photo{
    display: none;
}

.h3__title{
    font-family: 'Quicksand', sans-serif;
    color: var(--cyan);
}

.sections{
    margin-top: 2.5em;
}

.aboutme__p{
    margin-top: 1em;
}
.aboutme__p-1{

    margin: .25em 0;
    color: var(--text-grey);
}
.aboutme__p-2{
    font-size: .9em;
    color: var(--text-grey);
    margin-top: 1em;
    text-align: right;
}
.aboutme__p-2>a{
    color: var(--cyan);
}

.cnt__icons{
    margin-top: .5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.cnt__icons__tech{
    display: flex;
    justify-content: space-evenly;
    gap: .25em;
    flex-wrap: wrap;
}
.tech__col{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tech__col__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h5{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1em;
    color: var(--cyan);
}

.cnt__tech{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
    border: 1px solid var(--cyan);
    border-radius: 1em;
    margin: 1em;
    margin-top: 2em;

}

.cnt__tech__child{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.icon__tech{
   
    width: 45px;
    transition: all 250ms;
}

.cnt__proyects{
    
    margin: 1em;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(21, 50px);
    border-radius: 1.5em;    
    grid-gap: .5em 0em;
    
}
.proyect-1{
    background-color: blue;
    border-radius: .5em;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    
}
.proyect-2{
    background-color: green;
    border-radius: .5em;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
    
}
.proyect-3{
    background-color: yellow;
    border-radius: .5em;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 12;

}
.proyect-4{
    background-color: rgb(107, 107, 184);
    border-radius: .5em;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 15;
   
}
.proyect-5{
    background-color: rgb(202, 111, 182);
    border-radius: .5em;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 15;
    grid-row-end: 20;
    
}
.proyect-6{
    background-color: rgb(71, 149, 163);
    border-radius: .5em;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 20;
    grid-row-end: 22;
    margin-right: .25em;
    
}
.proyect-7{
    background-color: rgb(143, 177, 49);
    border-radius: .5em;
    padding: 1em;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 20;
    grid-row-end: 22;
    margin-left: .25em;
    
}


.contact__p{
    margin-top: 1em;
    margin-bottom: -.5em;
    text-align: center;
}
.form{
    max-width: 688px;
    margin: auto;
}
.cnt__input{
    height: 50px;
    margin-bottom: 1em;
}
.cnt__input--1{
    margin-top: .5em;
    position: relative;
}
.cnt__input--2{
    position: relative;
}
.cnt__input--3{
    position: relative;
}
.form__label{
    margin-left: 0.5em;
    position: absolute;
    transition: 250ms;
    top: 50%;
    color: var(--text-dark);
}
/* En JS hay que configurar que cuando se selecione un input el form_label
 vaya a 0, tenga otro tamaño y color */
.form__input{
    padding: .5em;
    width: 100%;
    color: var(--white);
    background-color: rgb(143, 177, 49, 0);
    border: 0px solid rgb(0,0,0,0);
    border-bottom: 1px solid var(--cyan);
}
.form__input:focus{
    outline: none;
}
.form__cnt__btn{
    display: flex;
    justify-content: center;
}
.form__btn--enviar{
    margin-top: 1em;
    padding: .5em 1em;
    display: block;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    color: var(--cyan);
    border: 1px solid var(--cyan);
    padding: .5em;
    background-color: rgb(0,0,0,0);
    border-radius: .25em;
    transition: 250ms;
}
.form__btn--enviar:hover{
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--cyan);
    cursor: pointer;
}
.form__btn--enviar:active{
    color: var(--cyan);
    border: 1px solid var(--cyan);
    background-color: var(--white);
    cursor: pointer;
    scale: .9;
}
.btn__up{
    background-color: rgb(0,0,0,0);
    color: var(--cyan);
    border: 1px solid var(--cyan);
    padding: .5em;
    border-radius: .25em;
    transition: 250ms;
    display: none;
}
.btn__up:hover{
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--cyan);
    cursor: pointer;
}
.btn__up:active{
    color: var(--cyan);
    border: 1px solid var(--cyan);
    background-color: var(--white);
    cursor: pointer;
    scale: .9;
}


footer{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: .9em;
}
footer>p{
    margin-bottom: .5em;
    color: var(--text-grey);
}
footer>p>a{

    color: var(--text-grey);
}
.footer__logo{
    width: 60px;
    margin-bottom: .5em;
}

@media screen and (min-width:430px){
    .cnt__proyects{
        grid-template-columns: repeat(20, 5%);
        grid-template-rows: repeat(21, 20px);
    }
    .proyect-1{
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .proyect-2{
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 6;
        grid-row-end: 11;
    
    }
    .proyect-3{
        grid-column-start: 12;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 9;
        margin-left: .5em;
    }
    .proyect-4{
        grid-column-start: 12;
        grid-column-end: 21;
        grid-row-start: 9;
        grid-row-end: 14;
       
        margin-left: .5em;
    }
    .proyect-5{
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 11;
        grid-row-end: 20;
    
    }
    .proyect-6{
        grid-column-start: 12;
        grid-column-end: 21;
        grid-row-start: 14;
        grid-row-end: 19;
        margin-right: 0;
        margin-left: .5em;
    }
    .proyect-7{
        grid-column-start: 12;
        grid-column-end: 17;
        grid-row-start: 19;
        grid-row-end: 22;
        margin-left: .5em;
    }
}
/* -----------------------------Estilos móvil----------------------------- */
@media screen and (min-width:576px){
    

    header{
        padding: 1.5em;
    }
    .header__logo{
        width: 110px;
    }
    main{
        padding: 2em;
    }
    .home{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .cnt__photo{
        display: block;
        border: 1px solid var(--green);
        background-color: var(--green);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cnt__photo--photo{
        width: 170px;
        border-radius: 50%;
    }

    .name{
        font-size: 2em;
    }
    .profession{
        font-size: .9em;
    }
    .cnt__proyects{
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(13, 50px);
    }
    .proyect-1{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .proyect-2{
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 4;
        margin-left: .5em;
    }
    .proyect-3{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 9;
        margin-left: 0;
    }
    .proyect-4{
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 7;
        margin-left: .5em;
    }
    .proyect-5{
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 7;
        grid-row-end: 12;
        margin-left: .5em;
    }
    .proyect-6{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 9;
        grid-row-end: 12;
        margin-right: 0em;
        margin-left: 0;
    }
    .proyect-7{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 12;
        grid-row-end: 14;
        margin-left: 0em;
    }
}
/* -----------------------------Estilos tableta----------------------------- */
@media screen and (min-width:768px){
    html{
        font-size: 16px;
    }

    main{
        padding: 2.5em;
        max-width: 986px;
        margin: auto;
    }
 
    .name{
        font-size: 2.5em;
    }
   
    .cnt__photo{
        border: 2px solid var(--green);
    }
    .cnt__photo--photo{
        width: 200px;
    }
    .cnt__social{
        border: 2px solid var(--green);
    }

    .cnt__proyects{
        grid-template-columns: repeat(20, 5%);
        grid-template-rows: repeat(9, 50px);
    }
    .proyect-1{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .proyect-2{
        grid-column-start: 8;
        grid-column-end: 15;
        grid-row-start: 1;
        grid-row-end: 4;
        margin-left: .5em;
    }
    .proyect-3{
        grid-column-start: 15;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 6;
        margin-left: .5em;
    }
    .proyect-4{
        grid-column-start: 7;
        grid-column-end: 15;
        grid-row-start: 4;
        grid-row-end: 7;
        margin-left: .5em;

    }
    .proyect-5{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 9;
        margin-left: 0em;
    }
    .proyect-6{
        grid-column-start: 7;
        grid-column-end: 15;
        grid-row-start: 7;
        grid-row-end: 10;
        margin-left: .5em;
    }
    .proyect-7{
        grid-column-start: 15;
        grid-column-end: 21;
        grid-row-start: 6;
        grid-row-end: 9;
        margin-left: .5em;
    }

    .cnt__tech{
        flex-direction: row;
        justify-content: space-around;
        padding: 2em 1em;
        gap: 1em;
    }
 
}

@media screen and (min-width:992px){
    .header__movil{
        display: none;
    }
    .header__desktop{
        display: block;
        padding: 1.5em;
        display: flex;
        justify-content: space-between;
    }
    .header__logo{
        width: 120px;
    }
    .header__desktop--nav>ul{
        display: flex;
        gap: 3em;
    }
    .header__desktop__btn{
        font-family: 'Fira Code', monospace;
        font-weight: 500;
        margin-top: .5em;
        border: 1px solid var(--cyan);
        padding: .5em 1em;
        background-color: var(--cyan);
        border-radius: .25em;
        transition: 250ms;
        cursor: pointer;
    }
    .header__desktop__btn:hover{
        border: 1px solid var(--white);
        color: var(--white);
   
    }
    .header__desktop__btn>a{
        color: var(--bg-dark);
   
    }
    .header__desktop__btn>a:hover{
        color: var(--white);
   
    }
    .header__desktop__btn:active{
        background-color: var(--white);
        border: 1px solid var(--cyan);
        scale: .9;
    }
    .header__desktop__btn>a:active{
        color: var(--cyan);

    }

    main{
        padding: 4em;
    }
    .cnt__photo--photo{
        width: 250px;
    }

    .sections{
        margin-top: 4em;
    }
    .h3__title{
        margin-bottom: 1em;
        font-size: 1.5em;
    }
    .cnt__icons{
        margin-top: 2em;
    }
    .cnt__proyects{
        margin-top: 3em;
    }
  
}  
/* -----------------------------Estilos sobremesa----------------------------- */
@media screen and (min-width:1200px){
    html{
        font-size: 18px;
    }
    .cnt__icons__tech{
        margin-top: 1em;
    }

}