/* Colores */
:root {
    --bg: #282a36 ;
    
    --black: #000000;
    --primary: #F5F9FF;
    
    --secondary: #c8d6e5;

    --cyan: #00FFFF;
    --purple: #5F27CD;

    --gradient: linear-gradient(45deg, var(--cyan) 0%, var(--purple) 100%);
    
    /* Configuración modo oscuro */
    background-color: Canvas;
    color: CanvasText;
    color-scheme: dark;
}

/* Configuración general */
[id]{
    scroll-margin-top: 10ex;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: content-box;

}
html{
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    outline: 0;
    scroll-behavior: smooth;
    color: var(--primary);
    
}

/* General listas */
ul{
    list-style: none;
}
body{
    background-color: var(--bg);
}

/* -----------------------------Estilos móvil pequeño----------------------------- */
/* -----------------header y nav----------------- */
.fixeder_header{
    transition: all 500ms;
    position: fixed; 
    top: 0; 
    left: 0;
    width: calc(100% - 3em); 
    opacity: 0.95;
    box-shadow:
    0px 6px 16px rgba(0, 0, 0, 0.14);
}

.header_movil{
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg);
    z-index: 2000;

}

.header_movil .header_movil-btns{
    display: flex;
    align-items: center;
    gap: .5em;
}

.header_movil .header_movil-btns .header__icon{
    font-size: 1.5em;
    cursor: pointer;
    line-height: 20px;
    transition: 500ms;
    color: var(--cyan);
}

.header_movil-nav{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0em;
    background-color: var(--bg);
    padding: 1em 0em;
    height: auto;
    width: 150px;
    border-radius: 1em 0em 1em 1em ;
    font-family: 'Quicksand', sans-serif;
    z-index: 20000;
    border: 1px solid var(--cyan);
    border-right: none;
    border-top: none;
    box-shadow:
    0px 6px 16px rgba(0, 0, 0, 0.14);
    transform: translateX(250%);
    transition: all 1250ms;
    
}

.header_movil-nav ul{
    height: 100%;
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.header_movil-nav>ul>li>a{
    color: var(--cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms;
}

.header_movil-nav>ul>li>a:hover{
    scale: 1.1;
}

.header_movil-nav>ul>li>a:active{
    color: var(--primary);
    scale: .9; 
}

.header_movil-nav>ul>li>a>i{
    font-size: 1.4em;

}

.header_movil-nav>ul>li>a>span{
    font-size: 1em;
    font-weight: 600;
}

.nav__movil--cerrar{
    color: var(--cyan);
    font-size: 1.25em;
    cursor: pointer;
    transition: 500ms;
    margin: 0 auto;
} 

.nav__movil--cerrar:hover{
    scale: 1.25;
}

.nav__movil--cerrar:active{
    color: var(--primary);
    scale: .8; 
}

.header__icon:hover{
    scale: 1.25;
    
}

.header__icon:active{
    color: var(--primary);
    scale: .9; 
}

.header_logo{
    width: 100px;
    transition: 500ms;
}

.header_logo:active{
    scale: .9;
}

.header_desktop{
    padding: 0;
    margin: 0;
    display: none;
    background-color: var(--bg);
    z-index: 2000;
}

.header_desktop-div{
    display: none;
    padding: 1em .7em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;

}
.header_desktop-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.desktop_nav_element{
    transition: all 250ms;
    font-size: 1em;
    color: var(--cyan);
    display: block;
    transition: 500ms;
}
.desktop_nav_element:hover{
    background-image: linear-gradient(120deg, var(--cyan),var(--cyan) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
}

.desktop_nav_element:hover {
    color: var(--primary);
}

.desktop_nav_element:active{
    scale: .9;
}


/* -----------------main----------------- */
main{
    padding: 1.5em;
}

section{
    padding: 1em 0em;
}

.home{
    position: relative;
    transition: all 250ms;
}

#span__cyan{
    font-family: 'Quicksand', sans-serif;
    color: var(--cyan);
    font-size: 1.1em;
}

.greeting{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    color: var(--cyan);
}

.profession{
    font-family: 'Fira Code', monospace;
    font-size: .8em;
    font-weight: 500;
    display: inline-block;
    margin-top: .75em;
    margin-bottom: .5em;
    padding: .15em .4em;
}

.btn__contact{
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    margin-top: .5em;
    border: 1px solid var(--cyan);
    padding: .5em 1em;
    background-color: transparent;
    border-radius: .25em;
    transition: 250ms;
    cursor: pointer;
    margin-top: 0;
    color: var(--cyan);
    
}

.btn__contact:hover{
    background-color: var(--cyan);
    color: var(--bg);
    scale: 1.05;
}

.btn__contact :hover {
    background-color: var(--primary);
    scale: .9;
}

.btn__contact:active{
    border: 1px solid var(--cyan);
    background-color: var(--primary);
    cursor: pointer;
    scale: .9;
}

.btn__contact a:active{
    color: var(--cyan);
}

.cnt__social--movil{
    display: flex;
    justify-content: space-evenly;
    margin-top: .4em 0em;
    margin-bottom: .8em;
    border: 1px solid var(--cyan);
    border-radius: .5em;
    width: 150px;
}

.cnt__social--movil--icon{
    color: var(--primary);
    font-size: 1.75em;
    cursor: pointer;
}
.cnt__social--movil--icon>i{
    transition: 250ms;
}

.cnt__social--movil--icon>i:hover{
    color: var(--cyan);
    scale: 1.4;
}

.cnt__social--movil--icon>i:active{
    scale: .9;
}

.cnt__photo{
    transition: all 500ms;
    opacity: .9;
    display: none;
 
}

.light__shadow{
    box-shadow:
    0px 1.3px 3.6px rgba(0, 0, 0, 0.08),
    0px 3.6px 10px rgba(0, 0, 0, 0.115),
    0px 8.7px 24.1px rgba(0, 0, 0, 0.15),
    0px 29px 80px rgba(0, 0, 0, 0.23);
}
.cnt__photo:hover{
    transform: scale(1.05);
    opacity: 1; 
}

.h3__title{
    font-family: 'Quicksand', sans-serif;
    color: var(--cyan);
    font-size: 1.5em;
}


.sections{
    padding: 2em 0em;
}
.section_cnt{
    margin: 2em 0em;
}

.aboutme__p {
    color: var(--primary); 
}

.p_jump{
    margin-top: 1em;
}

.highlight {
color: var(--secondary); 
}

.parrafo{
    font-size: 0.9em;
    text-align: right;
}


.parrafo>a{
    color: var(--cyan);
}

.cnt__proyects{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-items: center;
    align-items: center;
}

.proyects{
    transition: all 500ms;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 1em;   
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.proyects a{
    position: relative;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 3em 1.5em;
    padding-bottom: 1em;
    overflow: hidden;
}

.proyects-span{
    transition: all 500ms;
    background-image: url('../img/proyectos/en_proceso.jpg');
    background-position: center;
    background-size:  cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    opacity: .8;
}
.proyects-span:hover{
    scale: 1.3;
    opacity: 1;
}

.proyect-1{
    background-image: url('../img/proyectos/Dado3.png');
    background-position: center;
    background-size:  cover;
}
.proyect-2{
    background-image: url('../img/proyectos/flamencosevillaclass.png');
    background-position: center;
    background-size:  cover;
}


.poyects-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: .25em .5em;
    background-color: var(--primary);
    min-height: 80px;
}
.texts{
    z-index: 2;
    font-family:'Fira Code', monospace;
    color:var(--black);
    font-size: .9em;
}
.poyects-texts p{
    font-size: .8em;
}

.proyect_icons{
    margin-top: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyect_icons_icono{
    width: 1.5em;
}

.cnt_techno{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0 2em;
    border-top: 1px solid var(--cyan);
    border-bottom: 1px solid var(--cyan);
    padding: 4em 1em;
}
.cnt__icon_tech span{
    margin-top: .25em;
    font-family:'Fira Code', monospace;
    font-size: .7em;
    text-align: center;
}
.techno_row--icons{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.techno_row--icons2{
    justify-content: space-around;
}
.cnt__icon_tech{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon__tech{
    width: 50px;
    transition: all 250ms;
    filter: drop-shadow( 0px 4px 4px black );
}

#contact h3{
    text-align: center;
}
.contact__p{
    margin-bottom: 1em;
    text-align: center;
}

.form{
    max-width: 500px;
    margin: auto;
}

/* *Inicio Estilos inputs */
.cnt__input{
    height: 50px;
    margin-bottom: 1.5em;
    margin-top: 1em;
    position: relative;
}

.form__label{
    font-family:'Fira Code', monospace;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 10px 10px;
    font-size: .9em;
    color: var(--secondary);
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.form__input{
    font-family:'Fira Code', monospace;
    font-weight: 400;
    position: relative;
    width: calc(100% - 20px);
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: var(--black);
    font-size: .9em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.form__input:valid ~.form__label,
.form__input:focus ~.form__label {
    color: var(--cyan);
    transform: translateX(-5px) translateY(-20px);
    top:-25%;
    font-size: .8em;
}

.cnt__input i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--cyan);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}  

.form__input:valid ~i,
.form__input:focus ~i {
    height: 40px;
} 

/* *Fin Estilos inputs */

.form__cnt__btn{
    display: flex;
    justify-content: center;
}

.form__btn--enviar{
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    margin-top: .5em;
    border: 1px solid var(--cyan);
    padding: .5em 1em;
    background-color: transparent;
    border-radius: .25em;
    transition: 250ms;
    cursor: pointer;
    margin-top: 0;
    color: var(--cyan);
}

.form__btn--enviar:hover{
    background-color: var(--cyan);
    color: var(--bg);
    scale: 1.05;
}

.form__btn--enviar:active{
    background-color: var(--primary);
    scale: .9;
}


/* *Inicio boton up */
.btn__up{
    display: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}

.btn__up--on{
    display: block;
    width: 2em;
    height: 2em;
    color: var(--cyan);
    border: 1px solid var(--cyan);
    background-color: var(--bg);
    padding: .5em;
    border-radius: 50%;
    transition: 250ms;
    position: fixed;
    right: 20px;
    bottom: 40px;
}

.btn__up:hover{
    cursor: pointer;
    background-color: var(--cyan);
    color: var(--black);
}

.btn__up:active{
    scale: .9;
}

.btn__up:active ~a{
color: var(--black);
}

.btn__up i{
    font-size: 2em;
}

.btn__up i:active{

    color: var(--black);
}
/* *Fin boton up */


footer{
    margin-top: 5em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: .9em;
}

footer>p{
    margin-bottom: .5em;
    color: var(--secondary);
}

footer>p>a{

    color: var(--secondary);
}

.footer__logo{
    width: 60px;
    margin-bottom: .5em;
}

@media screen and (min-width:430px){
    .cnt__proyects{
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr;
    }

}
/* -----------------------------Estilos móvil----------------------------- */
@media screen and (min-width:576px){
    

    header{
        padding: 1.5em;
    }
    .header_logo{
        width: 110px;
    }
    main{
        padding: 3em;
    }
    .home{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .cnt__photo{

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .a__photo{

        border: 1px solid var(--cyan);
        background-color: var(--cyan);
        border-radius: 50%;
        background: var(--gradient);
        box-shadow:
        1px 5.9px 28.1px rgba(0, 0, 0, 0.054),
        2px 11.5px 42.5px rgba(0, 0, 0, 0.078),
        3.1px 17.6px 52.2px rgba(0, 0, 0, 0.097),
        4.3px 24.9px 60.7px rgba(0, 0, 0, 0.113),
        6.1px 34.9px 70.8px rgba(0, 0, 0, 0.132),
        8.9px 51.2px 87.1px rgba(0, 0, 0, 0.156),
        16px 92px 134px rgba(0, 0, 0, 0.21);
    }
    
    .cnt__photo--photo{
        display: block;
        width: 170px;
        border-radius: 50%;
    }

    .name{
        font-size: 2em;
    }
    .profession{
        font-size: .9em;
    }

    
}
/* -----------------------------Estilos tableta----------------------------- */
@media screen and (min-width:768px){
    html{
        font-size: 16px;
    }

    main{
        padding: 3em;
        max-width: 1100px;
        margin: auto;
    }
    .name{
        font-size: 2.5em; 
    }

    .cnt__photo--photo{
        width: 200px;
    }
    .cnt__social{
        border: 1px solid var(--cyan);
    }

    .header_movil-nav{
        height: 500px;
        width: 200px;
    }

    .cnt__proyects{
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (min-width:992px){
    .header_movil-nav{
        display: none;
    }
    .name{
        font-size: 3em;
    }

    .position__main {
        position: relative;
        top: 93px;/* Estilos para pantallas mayores a 920px */
    }

    .header_movil{
        display: none;
    }
    .header_desktop{
        display: block;
    }
    
    .fixeder_header{
        width: 100%;
    }
    .header_desktop-div{
        padding: 1.5em;
        display: flex;
        justify-content: space-between;
    }
    .header_logo{
        width: 120px;
    }
    .header_desktop-nav>ul{
        display: flex;
        gap: 3em;
    }

    .header_desktop_btn{
        font-family: 'Fira Code', monospace;
        font-weight: 500;
        margin-top: .5em;
        border: 1px solid var(--cyan);
        padding: .5em 1em;
        background-color: transparent;
        border-radius: .25em;
        transition: 250ms;
        cursor: pointer;
        margin-top: 0;
        color: var(--cyan);
        
    }
    .header_desktop_btn:hover{
        background-color: var(--cyan);
        color: var(--bg);
        scale: 1.05;
    }
    .header_desktop_btn:active{
        background-color: var(--primary);
        scale: .9;
    }

    main{
        position: relative;
        padding: 6em;
    }
    
    .cnt__photo--photo{
        width: 250px;
    }

}  


@media screen and (max-width: 991px) {
    .position__main2 {
        position: relative;
        top: 71.5px;
    }
}
/* -----------------------------Estilos sobremesa----------------------------- */
@media screen and (min-width:1200px){
    html{
        font-size: 18px;
    }
    .btn__up--on{
        right: 5%;
    }
    .cnt__photo--photo{
        width: 280px;
    }


}


