/* Colores */
:root {
    --bg: #222222;

    --black: #000000;
    --white: #FFFFFF;
    --grey: #c8d6e5;
    --dark: #222f3e;

    --cyan: #00FFFF;
    --purple: #5F27CD;

    --yellow: #feca57;
    --orange: #FFA500 ;

    --gradient: linear-gradient(45deg, var(--cyan) 0%, var(--purple) 100%);
    
    /* Configuración modo oscuro */
    background-color: Canvas;
    color: CanvasText;
    color-scheme: dark;
  }

/* Configuración general */
[id]{
    scroll-margin-top: 15ex;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    text-decoration: none;
}
html{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: 0;
    scroll-behavior: smooth;
    color: var(--white);
    
}

/* General listas */
ul{
    list-style: none;
}
body{
    background-color: var(--bg);
}

/* -----------------------------Estilos móvil pequeño----------------------------- */
/* -----------------header y nav----------------- */
.fixeder_header{
    transition: all 500ms;
    position: fixed; 
    top: 0; 
    left: 0;
    width: calc(100% - 3em); 
    opacity: 0.95;
    box-shadow:
    0px 6px 16px rgba(0, 0, 0, 0.14);
}

.header_movil{
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg);
    z-index: 2000;
}

.header_movil .header_movil-btns{
    display: flex;
    align-items: center;
    gap: .5em;
}

.header_movil .header_movil-btns .header__icon{
    font-size: 1.5em;
    cursor: pointer;
    line-height: 20px;
    transition: 500ms;
    color: var(--cyan);
}

.header_movil-nav{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0em;
    background-color: var(--bg);
    padding: 1em 0em;
    height: auto;
    width: 150px;
    border-radius: 1em 0em 1em 1em ;
    font-family: 'Quicksand', sans-serif;
    z-index: 20000;
    border: 2px solid var(--cyan);
    border-right: none;
    border-top: none;
    box-shadow:
    0px 6px 16px rgba(0, 0, 0, 0.14);
    transform: translateX(250%);
    transition: all 1250ms;
    
}

.header_movil-nav ul{
    height: 100%;
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.header_movil-nav>ul>li>a{
    color: var(--cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms;
}

.header_movil-nav>ul>li>a:hover{
    scale: 1.1;
}

.header_movil-nav>ul>li>a:active{
    color: var(--white);
    scale: .9; 
}

.header_movil-nav>ul>li>a>i{
    font-size: 1.4em;

}

.header_movil-nav>ul>li>a>span{
    font-size: 1em;
    font-weight: 600;
}

.nav__movil--cerrar{
    color: var(--cyan);
    font-size: 1.25em;
    cursor: pointer;
    transition: 500ms;
    margin: 0 auto;
} 

.nav__movil--cerrar:hover{
    scale: 1.25;
}

.nav__movil--cerrar:active{
    color: var(--white);
    scale: .8; 
}

.header__icon:hover{
    scale: 1.25;
    
}

.header__icon:active{
    color: var(--white);
    scale: .9; 
}

.header_logo{
    width: 100px;
    transition: 500ms;
}

.header_logo:active{
    scale: .9;
}

.header_desktop{
    padding: 0;
    margin: 0;
    display: none;
    background-color: var(--bg);
    z-index: 2000;
}

.header_desktop-div{
    display: none;
    padding: 1em .7em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;

}
.header_desktop-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.desktop_nav_element{
    transition: all 250ms;
    font-size: 1em;
    color: var(--cyan);
    display: block;
    transition: 500ms;
}
.desktop_nav_element:hover{
    background-image: linear-gradient(120deg, var(--cyan),var(--cyan) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
}

.desktop_nav_element:hover {
    color: var(--white);
}

.desktop_nav_element:active{
    scale: .9;
}


/* -----------------main----------------- */
main{
    padding: 1.5em;
}

section{
    padding: 1em 0em;
}

.home{
    position: relative;
    transition: all 250ms;
}

#span__cyan{
    font-family: 'Quicksand', sans-serif;
    color: var(--cyan);
    font-size: 1.1em;
}

.greeting{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    color: var(--cyan);
}

.profession{
    font-family: 'Fira Code', monospace;
    font-size: .8em;
    font-weight: 500;
    display: inline-block;
    margin-top: .75em;
    margin-bottom: .5em;
    padding: .15em .4em;
}

.btn__contact{
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    margin-top: .5em;
    border: 1px solid var(--cyan);
    padding: .5em 1em;
    background-color: transparent;
    border-radius: .25em;
    transition: 250ms;
    cursor: pointer;
    margin-top: 0;
    color: var(--cyan);
    
}

.btn__contact:hover{
    background-color: var(--cyan);
    color: var(--bg);
    scale: 1.05;
}

.btn__contact :hover {
    background-color: var(--white);
    scale: .9;
}

.btn__contact:active{
    border: 1px solid var(--cyan);
    background-color: var(--white);
    cursor: pointer;
    scale: .9;
}

.btn__contact a:active{
    color: var(--cyan);
}

.cnt__social--movil{
    display: flex;
        justify-content: space-evenly;
        margin-top: .4em 0em;
        margin-bottom: .8em;
        border: 1px solid var(--cyan);
        border-radius: .5em;
        width: 150px;
}

.cnt__social--movil--icon{
    color: var(--white);
    font-size: 1.75em;
    cursor: pointer;
}
.cnt__social--movil--icon>i{
    transition: 250ms;
}

.cnt__social--movil--icon>i:hover{
    color: var(--cyan);
    scale: 1.4;
}

.cnt__social--movil--icon>i:active{
    scale: .9;
}

.cnt__photo{
    transition: all 500ms;
    opacity: .9;
    display: none;
    background: var(--gradient);
    box-shadow:
    1px 5.9px 28.1px rgba(0, 0, 0, 0.054),
    2px 11.5px 42.5px rgba(0, 0, 0, 0.078),
    3.1px 17.6px 52.2px rgba(0, 0, 0, 0.097),
    4.3px 24.9px 60.7px rgba(0, 0, 0, 0.113),
    6.1px 34.9px 70.8px rgba(0, 0, 0, 0.132),
    8.9px 51.2px 87.1px rgba(0, 0, 0, 0.156),
    16px 92px 134px rgba(0, 0, 0, 0.21);
}

.light__shadow{
    box-shadow:
    0px 1.3px 3.6px rgba(0, 0, 0, 0.08),
    0px 3.6px 10px rgba(0, 0, 0, 0.115),
    0px 8.7px 24.1px rgba(0, 0, 0, 0.15),
    0px 29px 80px rgba(0, 0, 0, 0.23);
}
.cnt__photo:hover{
    transform: scale(1.05);
    opacity: 1; 
}

.h3__title{
    font-family: 'Quicksand', sans-serif;
    color: var(--cyan);
    text-align: center;
}


.sections{
    margin-top: 2.5em;
}

.parrafo{
    margin: 1em 0em;
}
.aboutme__p{
    margin-top: 2.5em;
}

.aboutme__p-1{
    margin: .25em 0;
    color: var(--grey);
}

.aboutme__p-2{
    font-size: .9em;
    color: var(--grey);
    margin-top: 1em;
    text-align: right;
}

.aboutme__p-2>a{
    color: var(--cyan);
}

.cnt__icons{
    margin-top: .5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.cnt__icons__tech{
    display: flex;
    justify-content: space-evenly;
    gap: .25em;
    flex-wrap: wrap;
}
.tech__col{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tech__col__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h5{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1em;
    color: var(--cyan);
}

.cnt__tech{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
    border: 2px solid var(--cyan);
    border-radius: 1em;
    margin-top: 2.5em;
}

.cnt__tech__child{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.icon__tech{
    width: 45px;
    transition: all 250ms;
    filter: drop-shadow( 0px 5px 5px black );
}

.cnt__proyects{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
}

.proyects{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1em;


  
}

.proyects>a>img{
    transition: all 500ms;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    opacity: 1; 
    cursor: pointer;    
}

.proyects>a>img:hover{
    transform: scale(1.3);
    filter: saturate(180%);
}

.proyects>a>img:active{
    opacity: .5;
    transform: scale(1);
}


.cnt__form{
    margin-top: 2.5em;
}
.contact__p{
    margin-bottom: 1em;
    text-align: center;
}

.form{
    max-width: 500px;
    margin: auto;
}

/* *Inicio Estilos inputs */
.cnt__input{
    height: 50px;
    margin-bottom: 1.5em;
    margin-top: 1em;
    position: relative;
}

.form__label{
    font-family:'Fira Code', monospace;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 10px 10px;
    font-size: .9em;
    color: var(--dark);
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.form__input{
    font-family:'Fira Code', monospace;
    font-weight: 400;
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: var(--black);
    font-size: .9em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.form__input:valid ~.form__label,
.form__input:focus ~.form__label {
    color: var(--cyan);
    transform: translateX(-5px) translateY(-20px);
    top:-25%;
    font-size: .8em;
}

.cnt__input i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--cyan);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}  

.form__input:valid ~i,
.form__input:focus ~i {
    height: 40px;
} 

/* *Fin Estilos inputs */

.form__cnt__btn{
    display: flex;
    justify-content: center;
}

.form__btn--enviar{
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    margin-top: .5em;
    border: 1px solid var(--cyan);
    padding: .5em 1em;
    background-color: transparent;
    border-radius: .25em;
    transition: 250ms;
    cursor: pointer;
    margin-top: 0;
    color: var(--cyan);
}

.form__btn--enviar:hover{
    background-color: var(--cyan);
    color: var(--bg);
    scale: 1.05;
}

.form__btn--enviar:active{
    background-color: var(--white);
    scale: .9;
}


/* *Inicio boton up */
.btn__up{
    display: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}

.btn__up--on{
    display: block;
    width: 2em;
    height: 2em;
    color: var(--cyan);
    border: 2px solid var(--cyan);
    background-color: var(--bg);
    padding: .5em;
    border-radius: 50%;
    transition: 250ms;
    position: fixed;
    right: 20px;
    bottom: 40px;
}

.btn__up:hover{
    cursor: pointer;
    background-color: var(--cyan);
    color: var(--black);
}

.btn__up:active{
    scale: .9;
    
    /* background-color: var(--whihttp://127.0.0.1:5500/index.html#homete); */
}

.btn__up:active ~a{
color: var(--black);
}

.btn__up i{
    font-size: 2em;
}

.btn__up i:active{

    color: var(--black);
}
/* *Fin boton up */


footer{
    margin-top: 5em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: .9em;
}

footer>p{
    margin-bottom: .5em;
    color: var(--grey);
}

footer>p>a{

    color: var(--grey);
}

.footer__logo{
    width: 60px;
    margin-bottom: .5em;
}

@media screen and (min-width:430px){
    .cnt__proyects{
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
    }
}
/* -----------------------------Estilos móvil----------------------------- */
@media screen and (min-width:576px){
    

    header{
        padding: 1.5em;
    }
    .header_logo{
        width: 110px;
    }
    main{
        padding: 3em;
    }
    .home{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .cnt__photo{
        display: block;
        border: 1px solid var(--cyan);
        background-color: var(--cyan);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    
    .cnt__photo--photo{
        display: block;
        width: 170px;
        border-radius: 50%;
    }

    .name{
        font-size: 2em;
    }
    .profession{
        font-size: .9em;
    }
}
/* -----------------------------Estilos tableta----------------------------- */
@media screen and (min-width:768px){
    html{
        font-size: 16px;
    }

    main{
        padding: 2.5em;
        max-width: 986px;
        margin: auto;
    }
 
    .name{
        font-size: 2.5em; 
    }
   
    .cnt__photo{
        border: 2px solid var(--cyan);


    }
    .cnt__photo--photo{
        width: 200px;
    }
    .cnt__social{
        border: 2px solid var(--cyan);
    }

    .header_movil-nav{
        height: 500px;
        width: 200px;
    }

    .cnt__proyects{
        grid-template-columns: repeat(22, 1fr);
        grid-template-rows: repeat(13, 50px);
    }
    .proyect-1{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .proyect-2{
        grid-column-start: 9;
        grid-column-end: 16;
        grid-row-start: 1;
        grid-row-end: 5;

    }
    .proyect-3{
        grid-column-start: 16;
        grid-column-end: 23;
        grid-row-start: 1;
        grid-row-end: 7;

    }
    .proyect-4{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 9;


    }
    .proyect-5{
        grid-column-start: 8;
        grid-column-end: 16;
        grid-row-start: 5;
        grid-row-end: 9;

    }
    .proyect-6{
        grid-column-start: 16;
        grid-column-end: 23;
        grid-row-start: 7;
        grid-row-end: 13;
    }
    .proyect-7{
        grid-column-start: 1;
        grid-column-end: 16;
        grid-row-start: 9;
        grid-row-end: 14;

    }
    

    .cnt__tech{
        flex-direction: row;
        justify-content: space-around;
        padding: 2em 1em;
        gap: 1em;
    }
 
}

@media screen and (min-width:992px){
    .header_movil-nav{
        display: none;
    }

    .position__main {
        position: relative;
        top: 93px;/* Estilos para pantallas mayores a 920px */
    }

    .header_movil{
        display: none;
    }
    .header_desktop{
        display: block;
    }
    
    .fixeder_header{
        width: 100%;
    }
    .header_desktop-div{
        padding: 1.5em;
        display: flex;
        justify-content: space-between;
    }
    .header_logo{
        width: 120px;
    }
    .header_desktop-nav>ul{
        display: flex;
        gap: 3em;
    }

    .header_desktop_btn{
        font-family: 'Fira Code', monospace;
        font-weight: 500;
        margin-top: .5em;
        border: 1px solid var(--cyan);
        padding: .5em 1em;
        background-color: transparent;
        border-radius: .25em;
        transition: 250ms;
        cursor: pointer;
        margin-top: 0;
        color: var(--cyan);
        
    }
    .header_desktop_btn:hover{
 
        background-color: var(--cyan);
        color: var(--bg);
        scale: 1.05;
    }
    .header_desktop_btn:active{
        background-color: var(--white);
        scale: .9;
    }

    main{
        position: relative;
        padding: 4em;
    }
 
    .cnt__photo--photo{
        width: 250px;
    }

    .sections{
        margin-top: 4em;
    }
    .h3__title{
        margin-bottom: 1em;
        font-size: 1.5em;
    }
    .cnt__icons{
        margin-top: 2em;
    }
    .cnt__proyects{
        margin-top: 3em;
    }
  
}  


@media screen and (max-width: 991px) {
    .position__main2 {
        position: relative;
        top: 71.5px;
    }
}
/* -----------------------------Estilos sobremesa----------------------------- */
@media screen and (min-width:1200px){
    html{
        font-size: 18px;
    }
    .cnt__icons__tech{
        margin-top: 1em;
    }
    .btn__up--on{
        right: 5%;
    }


}


