/* *Escritura de profesión */

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {

  50% {
    border-color: transparent;
  }

  to {
    width: 33ch;
  }

}



/* *boton dia noche */
.switch-name {
  --dark-sky: #5F27CD;
  --moon: #FFA500;
  --light-sky: #87CEEB;
  --sun: #ffed89;
  display: block;
  position: relative;
  right: 5px;
  border-radius: 5em;
  cursor: pointer;
  width: 40px;
  height: 20px;
  overflow: hidden;
}

.switch-name .back {
  background-color: var(--dark-sky);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: .5s ease-in-out;
}

.switch-name .checkbox {
  opacity: 0;
}

.switch-name .checkbox:checked~.back {
  background-color: var(--light-sky);
}

.switch-name .checkbox:checked~.moon {
  transform: translate(100%) rotate(180deg);
  opacity: 0;
}

.switch-name .checkbox:checked~.sun {
  transform: translate(100%) rotate(180deg);
  opacity: 1;
}

.switch-name .moon {
  position: absolute;
  left: .5px;
  top: -.5px;
  height: 15px;
  padding: .12em;
  fill: var(--moon);
  transition: .5s;
}

.switch-name .sun {
  position: absolute;
  left: -2px;
  top: -1px;
  height: 15px;
  padding: .2em;
  fill: var(--sun);
  transition: .5s;
  opacity: 0;
}

@media screen and (min-width:992px) {
  .switch-name {
    width: 50px;
    height: 25px;
    right: 10px;
  }

  .switch-name .moon {
    left: 0;
    top: -1px;
    height: 20px;
    padding: .2em;
    fill: var(--moon);
  }

  .switch-name .sun {
    left: -3px;
    top: -1px;
    height: 20px;
    padding: .2em;
    fill: var(--sun);
  }
}




/* * Animación scroll */
.section-animation {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity .5s, transform 0.5s;
}

.section-animation.appear {
  opacity: 1 !important;
  transform: translateY(0px);
}


@keyframes scrollAnimation {

  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(-45deg);
    filter: drop-shadow(0px 0px 2px var(--cyan));
  }

  50% {
    bottom: 40px;
    scale: 1.2;
    transform: rotate(-45deg);
    filter: drop-shadow(0px 0px 3px var(--cyan));
  }
}



/* *Animación texto tras envio de email */
@keyframes opacidad {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 0px var(--cyan);

  }

  50% {
    opacity: .5;
    text-shadow: 0px 0px 2px var(--cyan);

  }

  100% {
    text-shadow: 0px 0px 4px var(--cyan);
    opacity: 1;

  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}