/* Colores */
:root {
    --bg: #282a36;
    --bg-trans: #282a3670;
    --bg-mensaje: #E9EFFF60;
    --black: #000000;
    --primary: #F5F9FF;

    --secondary: #c8d6e5;

    --cyan: #00FFFF;
    --cyant: #00FFFF80;
    --purple: #5F27CD;
    --purplet: #5F27CD50;

    --gradient: linear-gradient(45deg, var(--cyan) 0%, var(--purple) 100%);

    /* Configuración modo oscuro */
    background-color: Canvas;
    color: CanvasText;
    color-scheme: dark;
}

/* Configuración general */
[id] {
    scroll-margin-top: 50ex;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: content-box;

}

html {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    color: var(--primary);
    box-sizing: content-box;

}

/* General listas */
ul {
    list-style: none;
}


body {
    background-color: var(--bg);
}

/* Clases de configuración */
.fixeder_header {
    position: fixed;
    opacity: 0.95;


}

.border-shadow {
    box-shadow:
        0px 6px 16px rgba(0, 0, 0, 0.20);
}

.hidden {
    display: none;
}

.highlight {
    color: var(--secondary);
}

.light {
    color: var(--primary);
}

.jump {

    margin-top: 1rem;
}

.center {
    text-align: center;
}

.cnt-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* -----------------header y nav----------------- */
header {
    position: relative;
    z-index: 20000;
    background-color: var(--bg);
    border-bottom: 1px solid var(--bg);
    width: 100%;
}

main {

    position: relative;
    top: 81px;
}


.btn-up {
    display: none;
    width: 2em;
    height: 2em;
    color: var(--cyan);
    border: 2px solid var(--cyan);
    background-color: var(--bg);
    padding: .5em;
    border-radius: 50%;
    transition: 250ms;
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 2500;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn-up:hover {
    cursor: pointer;
    background-color: var(--cyan);
    color: var(--black);
}

.btn-up:active {
    scale: .9;
}

.btn-up:active~a {
    color: var(--black);
}

.btn-up i {
    font-size: 1.25rem;
}

.btn-up i:active {
    color: var(--black);
}

.header {
    padding: 1rem;
    width: calc(100% - 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    z-index: 2000;
    margin: auto;
    max-width: 1200px;
}

.header a {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-logo {
    width: 100px;
    transition: 500ms;
}


.header-logo:active {
    scale: .9;
}

.header .header-btns {
    display: flex;
    align-items: center;

}

.icon {
    transition: all 250ms;
    height: 1.5rem;
    color: var(--cyan);
    cursor: pointer;
}

.icon:hover {
    scale: 1.2;
    filter: drop-shadow(0px 0px 4px var(--cyan));
}

.icon:active {
    scale: .9;
}


.nav-menu,
.cnt-btn,
.icon-cerrar {
    display: none;
}

.nav-menu a {
    color: var(--cyan);
}

.nav-menu a:hover {
    color: var(--primary);
    text-decoration: underline var(--cyan);
}


.nav {
    transform: translateY(-200%);
    transition: all 250ms;
    display: flex;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid var(--cyan);
    z-index: 200;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    background-color: var(--purplet);

}

.nav ul {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.nav li {
    transition: all 250ms;
    padding: 1rem 0;
    width: 100%;
    border-top: 1px solid #00000000;
    border-bottom: 1px solid #00000000;
}



.nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.nav li:hover {
    border-top: 1px solid var(--cyan);
    border-bottom: 1px solid var(--cyan);
    background-color: var(--bg-trans);
    filter: drop-shadow(0px 0px 4px var(--cyan));

}

.nav li:hover .icon {
    scale: 1;
    filter: drop-shadow(0px 0px 4px var(--cyan));
}

.nav span {
    font-size: .8rem;
    color: var(--cyan);

}

.header .btn-contact {
    display: none;
    font-family: 'Fira Code', monospace;
    font-size: .7rem;
    font-weight: 400;
    margin-top: .5em;
    border: 1px solid var(--cyan);
    padding: .5em 1em;
    background-color: transparent;
    border-radius: .25em;
    transition: 250ms;
    cursor: pointer;
    margin-top: 0;
    color: var(--cyan);
}


.header .btn-contact:hover {
    background-color: var(--cyan);
    color: var(--bg);
    scale: 1.05;
    box-shadow: 0px 0px 14px var(--cyant);
}

.header .btn-contact:active {
    background-color: var(--primary);
    scale: .9;
}




/* Main, section y content */
section {
    display: flex;
    justify-content: center;
}


.content-data-social,
.cv {
    margin-top: 1rem;
}

h1,
h2,
h6,
.hello {
    margin-top: .25rem;

}

.content {
    width: 100%;
    max-width: 1200px;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
}

/* .content .content-in {
    width: 100%;
} */

.content .content-data {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem 0rem 0rem;
}

.content .content-photo {
    display: none;
}

.content .content-photo:hover {
    transform: scale(1.05);
    opacity: 1;

}

.content .photo {
    width: 250px;
    width: 250px;
    border-radius: 50%;
}



.a__photo {
    border: 1px solid var(--cyan);
    background-color: var(--cyan);
    border-radius: 50%;
    background: var(--gradient);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.content .cyan {
    color: var(--cyan);
}

.content .hello {
    font-size: 1rem;
}

.content .name {
    font-size: 1.4rem;
    color: var(--cyan);
}

.content .profession {
    text-align: center;
    font-family: 'Fira Code', monospace;
    font-size: .65rem;
    font-weight: 400;
    display: inline-block;
    /* padding: .15em .5rem; */
}

.content .content-data-social {

    padding: 0rem 1rem;
    border: 1px solid var(--cyan);
    border-radius: .25rem;
    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: .2rem;
}

.content .content-data-social:hover {
    box-shadow: 0px 0px 14px var(--cyant);
}

.content .icon-social {
    color: var(--primary);
    cursor: pointer;
    font-size: 1.3rem;
}

.content .icon-social i {
    transition: all 250ms;
}

.content .icon-social i:hover {
    color: var(--cyan);
    scale: 1.5;
    filter: drop-shadow(0px 0px 4px var(--cyan));
}

.content .cv {
    font-size: .7rem;
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    border: 1px solid var(--cyan);
    padding: 0rem 1rem;
    background-color: transparent;
    border-radius: .25rem;
    transition: 250ms;
    cursor: pointer;
    color: var(--cyan);
    height: 30px;
    width: 90px;
}

.content .cv:hover {
    background-color: var(--cyan);
    color: var(--bg);
    scale: 1.05;
    box-shadow: 0px 0px 14px var(--cyant);
}

.content .cv:active {
    border: 1px solid var(--cyan);
    background-color: var(--primary);
    cursor: pointer;
    scale: .9;
    box-shadow: 0px 0px 14px var(--cyant);
}



.content .title {
    font-size: 1.4rem;
    color: var(--cyan);
    text-align: center;
    margin-bottom: .5rem;
}

.content .content_in {
    margin: .5rem 0rem;
}

.content .p {
    font-size: .85rem;
}


/* CONFIGURACIÓN CARD DE PROYECTOS*/

.card {
    position: relative;
    width: 210.34px;
    height: 130px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00000050;
    overflow: hidden;
    perspective: 1000px;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: var(--bg);
    margin-bottom: 1rem;
}

.card:last-child {
    margin-bottom: 0rem;
}

.card .card_img {
    width: 110%;
    fill: #333;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    border: 2px solid #ffffff;
    box-shadow: 0 8px 16px var(--cyant);
    border: 2px solid var(--cyan)
}

.card-light:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(95, 39, 205, 0.3);
}

.card__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: .9rem;
    gap: .2rem;
    box-sizing: border-box;
    background-color: var(--bg);
    opacity: 1;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 1rem;
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    color: var(--cyan);
    font-size: .85rem;
    font-weight: 600;
}

.card:hover .card_img {
    scale: 0;
    border: 2px solid var(--cyan)
}

.card__description {
    font-size: .8rem;
    color: var(--primary);
}

.card_info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.card_info .card_icon {
    width: 1.3rem;
}

.card_info .cnt-card_icon {
    height: 23.8px;
}

.card_info a {
    color: var(--cyan);
    font-weight: 600;
    font-size: .8rem;
}


/* FIN CONFIGURACIÓN CARD DE PROYECTOS*/

.branch {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.branch h6 {
    text-align: center;
    margin: 0;
    color: var(--cyant);
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    letter-spacing: .05rem;
    font-size: .7rem;
}

.branch .branch-tech {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: .25rem;
}

.branch .tech {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
}

.branch .icon {
    height: 2.4rem;
}

.branch span {
    font-size: .5rem;
    color: var(--cyan);
    margin-top: 0.25rem;
    font-size: 6rem;
}

.form {
    max-width: 500px;
    margin: auto;
    margin-top: 1.5rem;
}

/* *Inicio Estilos inputs */
.cnt__input {
    height: 50px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    position: relative;
}

.form__label {
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 0;
    padding: 25px 10px 10px;
    font-size: .7rem;
    color: var(--secondary);
    letter-spacing: 00.05rem;
    transition: 0.5s;
    pointer-events: none;
}

.form__input {
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    position: relative;
    width: calc(100% - 20px);
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: var(--black);
    font-size: .8rem;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    z-index: 10;
}

.form__input:valid~.form__label,
.form__input:focus~.form__label {
    color: var(--cyan);
    transform: translateX(-5px) translateY(-25px);
    top: -25%;
    font-size: .7rem;
    filter: drop-shadow(0px 0px 4px var(--cyan));
}

.cnt__input i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--cyan);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;

}

.form__input:valid~i,
.form__input:focus~i {
    height: 40px;
    filter: drop-shadow(0px 0px 4px var(--cyan));
}

/* *Fin Estilos inputs */
main {
    position: relative;
}

.cnt-arrow {
    display: flex;
    justify-content: center;

}

.text-arrow {
    position: fixed;
    bottom: 75px;


}

.tooltiptext {
    display: none;
    width: 110px;
    font-size: .85rem;
    color: var(--cyan);
    text-align: center;
    border-radius: .25rem;
    position: fixed;
    bottom: 70px;
    z-index: 1;
    animation: opacidad .75s ease;
    text-shadow: 0px 0px 4px var(--cyan);
}






.icon-arrow {
    position: fixed;
    width: 25px;
    transform: rotate(-45deg);
    bottom: 50px;
    filter: drop-shadow(0px 0px 1px var(--cyan));
    /* cursor: pointer; */


}



.icon-arrow-animation {
    transition: 0ms;

    animation: scrollAnimation 2s ease-in-out .1s infinite;
}


.form__cnt__btn {
    display: flex;
    justify-content: center;
}

.form__btn--enviar {
    font-family: 'Fira Code', monospace;
    font-size: .7rem;
    font-weight: 400;
    margin-top: .5rem;
    border: 1px solid var(--cyan);
    padding: .5em 1rem;
    background-color: transparent;
    border-radius: .25rem;
    transition: 250ms;
    cursor: pointer;
    margin-top: 0;
    color: var(--cyan);
}

.form__btn--enviar:hover {
    background-color: var(--cyan);
    color: var(--bg);
    scale: 1.05;
    filter: drop-shadow(0px 0px 4px var(--cyan));
}

.form__btn--enviar:active {
    background-color: var(--primary);
    scale: .9;
}

.mensaje-email {
    position: fixed;
    bottom: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mensaje-email .email {
    display: block;
    transition: all 250ms;
    width: 60%;
    padding: 1rem;
    max-width: 300px;
    font-family: 'Fira Code', monospace;
    color: var(--cyan);
    font-weight: 400;
    background-color: var(--bg-mensaje);
    text-align: center;
    border-radius: .25em;
    backdrop-filter: blur(10px);
    text-shadow: 0px 0px 4px var(--cyan);
    animation: fadeOut 2s ease-in-out 2s forwards;
}

footer {

    position: relative;
    top: 162px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .cnt-footer {
    width: 100%;
    font-size: .7rem;
    background-color: var(--bg);

}

footer a {

    color: var(--primary);
}

footer a:hover {
    color: var(--cyan);
}

footer .social-footer {
    border-top: 1px solid var(--cyant);
    padding: 1rem;
    font-size: .7rem;
    display: flex;
    justify-content: center;

}

footer .social-footer>span {
    display: block;
}

footer .social-footer>a {

    display: block;
}


footer .cnt-social-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

footer .icon-social {
    font-size: .7rem;
}


.cnt-footer #logo-3 {
    width: 90px;
}

footer .cnt-footer {
    padding: 3rem 0 0 0;
}


/* medias */

@media (width >=250px) {
    html {
        font-size: 17px;
    }

    .card {
        width: 226.52px;
        height: 140px;
    }

    footer .cnt-footer {
        font-size: .8rem;
    }

    footer .social-footer {
        font-size: .8rem;
    }

}

@media (width >=300px) {


    .card {
        width: 258.88px;
        height: 160px;
    }

    .card__content {
        padding: 1.1rem;
    }

    .card_info .card_icon {
        width: 1.4rem;
    }



    cnt-social-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98%;
    }

    footer .icon-social {
        font-size: .8rem;
    }

}

@media (width >=360px) {

    html {
        font-size: 18px;
    }


    .content .name {
        font-size: 1.5rem;

    }

    .content .profession {
        font-size: .7rem;
    }

    .content .icon-social {
        font-size: 24px;
    }

    .card {
        width: 291.24px;
        height: 180px;
    }

    .card__content {
        padding: 1.2rem;
    }

    .card_info .card_icon {
        width: 1.5rem;
    }

    .card__description {
        font-size: .85rem;
    }

    .content {
        padding: 2rem 1.5rem;
    }

    .content .cv {
        width: 105px;
    }

    .content .content-data-social {
        width: 105px;

    }

    .card-mb {
        margin-bottom: 1rem;
    }


    footer .icon-social {
        font-size: 1rem;
    }

    footer .cnt-social-footer {
        padding: 0 1rem;
    }
}

@media (width >=450px) {
    html {
        font-size: 19px;
    }

    .content .name {
        font-size: 1.7em;
    }

    .content .hello {
        font-size: 1.2rem;
    }

    .content .profession {
        font-size: .8rem;
    }

    .card {
        width: 323.6px;
        height: 200px;
    }

    .card__title {
        font-size: .9rem;
    }

    .card__content {
        padding: 1.65rem;

    }

    .card_info .card_icon {
        width: 1.5rem;
    }

}

@media (width >=576px) {
    .content .title {
        margin-bottom: .75rem;
    }

    html {
        font-size: 20px;
    }


    #logo-1 {
        width: 110px;
    }

    .content {
        padding: 3rem 3rem;
    }


    .content .name {
        font-size: 2rem;
    }


    .cnt {
        display: flex;
        gap: 20px;
    }

    .cnt-footer #logo-3 {
        width: 110px;
    }


    .card {
        width: 323.6px;
        height: 200px;
    }

    .card .card__content {
        padding: 30px;
    }

    .card-mb {
        margin-bottom: 1.5rem;
    }

}

@media (width >=768px) {



    .content .cv {
        width: 112px;
    }

    .content .content-data-social {
        width: 112px;

    }

    .content .content_in {
        padding: 0rem 2rem;
    }


    .card {
        width: 355.96px;
        height: 220px;
    }

    .btn-up {
        right: 25px;
    }

}

@media (width >=992px) {

    [id] {
        scroll-margin-top: 3ex;
    }

    .icon-arrow {

        width: 30px;


    }




    .content .title {
        margin-bottom: 1rem;
    }

    #logo-1 {
        width: 120px;
    }

    .content .name {
        font-size: 2.2rem;
    }

    .header {
        padding: 1rem 2rem;
        width: calc(100% - 4rem);
    }

    /* 
    .nav {
        display: none;
    } */

    .nav-menu {
        display: block;
    }

    .nav-menu ul {
        display: flex;
        gap: 2rem;
    }


    .icon-menu {
        display: none;
    }


    .cnt-btn {
        display: block;
    }

    .header .btn-contact {
        display: block;
    }

    .content_in .branch:nth-child(2) .branch-tech {
        justify-content: space-around;
    }

    .btn-up {
        right: 30px;
    }

    footer .cnt-social-footer {
        padding: 0 2rem;
    }

}

@media (width >=1200px) {
    html {
        font-size: 22px;
    }

    .icon-arrow {

        width: 35px;


    }



    .tooltiptext {

        bottom: 75px;

    }



    #logo-1 {
        width: 130px;
    }

    .content {
        padding: 4rem;
    }



    .nav-menu {
        font-size: 22px;
    }

    .content .name {
        font-size: 2.6rem;

    }

    .content .icon-social {
        font-size: 24px;
    }

    .content .content-intro {

        padding: 4rem 2rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1100px;
    }



    .content .content-data {
        padding: 0;
        /* width: 50%; */
        align-items: flex-start;

    }



    .content .content-photo {
        display: flex;
        /* width: 50%; */
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        transition: all 500ms;
        opacity: .9;
    }



    .content .a__photo {
        border: 2px solid var(--cyan);
        background-color: var(--cyan);
        width: 280px;
        border-radius: 50%;
        background: var(--gradient);
        box-shadow:
            rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    }

    .content .photo {
        display: block;
        width: 100%;
        border-radius: 50%;
    }


    .card-mb {
        margin-bottom: 0;
    }

    .content .content_in {
        margin: 1rem 0;
    }

    .content .cnt-center {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .btn-up {
        right: 40px;
    }

    .card {
        margin-bottom: 0rem;
    }
}